* {
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}

.navList{
    margin: 10px auto;
}
.navListUl{
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

