.navListLi{
    float: left;
    margin: 10px;
}

.navImg{
    width: 60px;
    height: 60px;
    padding: 18px;
    background: #eee;
    margin: 0 auto;
    border-radius: 30px;
}

.navListName{
    font-size: 14px;
    padding: 5px;
    width: 96px;
    overflow: hidden;
    word-break: break-word;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.navListA{
    display: block;
    color: #333;
    outline: none;
    border: #ddd solid 1px;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    height: 100px;  
    background: linear-gradient(rgb(252, 252, 252),rgb(241, 241, 241));
    
}
.navListA div{
    width: 100%;
}
.navListLi:hover{
    border-radius: 5px;
    color: #aaa;
    box-shadow: 0px 0px 10px #ddd;
}
