.login{
    position: fixed;
    left: 0;right: 0;top: 0;bottom: 0;
    background: #30599D;
}

.filterBg{
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    background-image: url('./../images/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: blur(3px); */
}
.loginMain{
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    background-image: url('./../images/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginForm{

}

.headIconImg{
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

.password{
    margin-top: 10px;
}