ul li{
    list-style: none;
}

.ym-inputText{
    border: #ccc solid 2px;
    height: 22px;
    font-size: 18px;
    padding: 2px;
    padding-left: 8px;
}

.ym-link{
    text-decoration: none;
    color: #fff;
}